<p
  xmlns:cc="http://creativecommons.org/ns#"
  xmlns:dct="http://purl.org/dc/terms/"
>
  <a property="dct:title" rel="cc:attributionURL" href="https://xszn.org/about/"
    >科学上网资源网站</a
  > by <a
    rel="cc:attributionURL dct:creator"
    property="cc:attributionName"
    href="https://xszn.org/">行书指南</a
  > is licensed under <a
    href="https://creativecommons.org/licenses/by-nc-nd/4.0/?ref=chooser-v1"
    target="_blank"
    rel="license noopener noreferrer"
    style="display:inline-block;">CC BY-NC-ND 4.0</a
  >
</p>
