---
import { Image } from "astro:assets";
import config from "@/config/config.json";
const { src } = Astro.props;
const {
  logo,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_width: any;
  logo_height: any;
  logo_text: string;
  title: string;
} = config.site;
---

<a href="/" class="navbar-brand block">
  {
    src || logo ? (
      <Image
        width={logo_width.replace("px", "") * 2}
        height={logo_height.replace("px", "") * 2}
        src={src ? src : logo}
        alt={title}
        style={{
          height: logo_height.replace("px", "") + "px",
          width: logo_width.replace("px", "") + "px",
        }}
      />
    ) : logo_text ? (
      logo_text
    ) : (
      title
    )
  }
  <h1 class="zhi-mang-xing-regular">行书指南</h1>
</a>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap");

  .zhi-mang-xing-regular {
    font-family: "Zhi Mang Xing", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .navbar-brand img {
    height: 100%;
    filter: drop-shadow(8px 8px 8px rgb(0 166 237 / 0.5));
  }

  h1 {
    font-size: 48px;
    line-height: 48px;
  }
</style>
