b,
strong {
  @apply font-semibold;
}

// 图片

img {
  @apply inline-block;
}

figure img {
  border-radius: 0.5rem;
  box-shadow: 0 10px 30px rgb(22 28 45 / 10%);
  display: block;
  margin: 0 auto;
  padding: 8px;
}

.content :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.shadow {
  box-shadow: 0 10px 30px rgb(22 28 45 / 10%);
}

figcaption {
  text-align: center;
}

// 代码

.content ::before {
  content: none;
}

.content ::after {
  content: none;
}

code {
  background-color: rgb(22 28 45 / 10%);
  padding: .125rem .375rem;
  border-radius: .25rem;
}

// 标题锚点跳转页面时的空隙

h3[id] {
  margin-top: -124px;
  padding-top: 124px;
}