---
import Base from "@/layouts/Base.astro";
import SearchBar from "@/layouts/SearchBar";
import { getSinglePage } from "@/lib/contentParser.astro";
import config from "@/config/config.json";

// Retrieve all articles
const posts = await getSinglePage("posts");

// List of items to search in
const searchList = posts.map((item: any) => ({
  slug: item.slug,
  data: item.data,
  content: item.body,
}));

const titleTemplate = config.site.title_template;
---

<Base title={`搜索` + " | " + titleTemplate}>
  <section class="section">
    <div class="container">
      <SearchBar client:load searchList={searchList} />
    </div>
  </section>
</Base>
